{
  "presets": ["env"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "client": "./src/client/scripts/",
          "server": "./src/server/",
          "common": "./src/common/",
          "test": "./test/"
        }
      }
    ]
  ]
}
