@cards-in-play-width: 800px;

.cards-in-play__piles {
    max-width: @cards-in-play-width;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cards-in-play__placeholder {
    .card--placeholder;
}
