@card-border: 8px;
@card-center-size: 2.5em;
@card-center-type: 70px;

// Card colors
@color-card-1-background: @color-white;
@color-card-1-number: @color-light-purple;
@color-card-1-logo: @color-purple;
@color-card-1-malus: @color-purple;
@color-card-1-corner: @color-purple;

@color-card-2-background: @color-cyan;
@color-card-2-number: @color-blueGreen;
@color-card-2-logo: @color-blue;
@color-card-2-malus: @color-blueGreen;
@color-card-2-corner: @color-blue;

@color-card-3-background: @color-green;
@color-card-3-number: @color-yellow;
@color-card-3-logo: @color-dark-green;
@color-card-3-malus: @color-yellow;
@color-card-3-corner: @color-dark-green;

@color-card-5-background: @color-red;
@color-card-5-number: @color-green;
@color-card-5-logo: @color-blue;
@color-card-5-malus: @color-green;
@color-card-5-corner: @color-red;

@color-card-7-background: @color-yellow;
@color-card-7-number: @color-red;
@color-card-7-logo: @color-purple;
@color-card-7-malus: @color-red;
@color-card-7-corner: @color-blue;

// Card flipped
@color-card-0-background: @color-card-2-background;
@color-card-0-number: @color-card-2-number;
@color-card-0-logo: @color-card-2-logo;
@color-card-0-malus: @color-card-2-malus;
@color-card-0-corner: @color-card-2-corner;


.card {
    position: relative;
    width: @card-width;
    height: @card-height;

    background: @color-white;
    box-shadow: @shadow-l1;
    border-radius: 3px;

    user-select: none;

    &::before {
        content: '';
        position: absolute;
        top: 25px;
        left: @card-border;
        right: @card-border;
        bottom: @card-border;
        border-left: (@card-width - 16px) solid;
        border-top: @card-border solid transparent;
        border-bottom: @card-border solid transparent;
        border-radius: 2%;
    }
}

.card__value {
    font-family: 'Bangers';
}

// TOP
.card__top {
    display: flex;
    flex-direction: row;
}

.card__value--top {
    font-size: 22px;
    letter-spacing: .1em;
    z-index: 1;
    margin: 3px 0 0 3px;
}

.card__value--top {
    flex: 1;
    text-align: left;
}

.card__malus {
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
    margin: 5px 30px 0 8px;
    line-height: 13px;

    span {
        display: inline-block;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        margin: 0 2px;
    }
}

// CENTER
.card__value--center {
    .icon-fairy;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::before {
        .icon;
        font-size: 105px;
    }

    span {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: @card-center-type;
    }
}

.card__value__text {
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: @color-dark-blue;
}

.card__value__border {
    -webkit-text-stroke-width: 12px;
    -webkit-text-stroke-color: @color-white;
}

// MALUS DEPENDENCIES
.mixin__card(@color-background, @color-number, @color-logo, @color-malus, @color-corner) {
    &::before {
        border-left-color: @color-background;
    }

    .card__value--top {
        color: @color-corner;
    }

    .card__value__text {
        color: @color-number;
    }

    .card__value--center::before {
        color: @color-logo;
    }

    .card__malus span {
        background: @color-malus;
    }
}

.mixin_applyCard(@index) {
    @background: "color-card-@{index}-background";
    @number: "color-card-@{index}-number";
    @logo: "color-card-@{index}-logo";
    @malus: "color-card-@{index}-malus";
    @corner: "color-card-@{index}-corner";
    .mixin__card(@@background, @@number, @@logo, @@malus, @@corner)
}

.card--malus-1 {
    .mixin_applyCard(1);
}

.card--malus-2 {
    .mixin_applyCard(2);
}

.card--malus-3 {
    .mixin_applyCard(3);
}

.card--malus-5 {
    .mixin_applyCard(5);
}

.card--malus-7 {
    .mixin_applyCard(7);
}

.card--flipped {
    .mixin_applyCard(0);

    .card__top,
    .card__value__text,
    .card__value__border, {
        display: none;
    }

    &::before {
        top: @card-border;
    }
}
