@player-avatar-size: 50px;
@player-avatar-border: 8px;
@player-avatar-space: 8px;

.player {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player--current {

    &::before {
        display: block;
        position: absolute;
        top: -@s-game-gutter;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        content: ' ';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 30px 0 30px;
        border-color: @color-blue transparent transparent transparent;
    }
}

.player--played-card {
    .player__avatar {
        border-color: #8dd00c;
    }
}

.player--choosing-pile {
    .player__avatar {
        border-color: #E9A810;
    }
}

.player--ai {
    .player__avatar {
        border-color: purple;
    }
}

.player__avatar {
    position: relative;
    width: @player-avatar-size;
    height: @player-avatar-size;
    margin-bottom: @player-avatar-space;

    border: @player-avatar-border solid #fff;
    border-radius: 50%;
    box-shadow: @shadow-l1;
    z-index: 1;
}

.player__username {
    font-size: 14px;
    font-weight: bold;

    margin-bottom: @player-avatar-space;

    letter-spacing: .1em;
    text-transform: uppercase;

    white-space: nowrap;
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;

    color: white;
}

.player__card {
    position: absolute;
    margin-top: -3px;
    left: 50%;
    top: 100%;
    transform: translateX(-50%) scale(.4);
    transform-origin: 50% 0 0;
}

.player__malus {
    position: absolute;
    top: @u-small;
    left: 100%;
    font-size: 1.8rem;
    letter-spacing: .1em;
    text-shadow: @shadow-l1;
}

.card--player {
    transform: rotate(-7Deg);
    /*
    position: absolute;
    transform: scale(0.3);
    transform-origin: 50% 50%;
    */
}
