@player-avatar-size: 50px;
@player-avatar-border: 8px;
@player-avatar-space: 8px;

.player__avatar {
    width: @player-avatar-size;
    height: @player-avatar-size;
    margin-bottom: @player-avatar-space;

    border: @player-avatar-border solid #fff;
    border-radius: 50%;
    box-shadow: @shadow-l1;
}

.player__username {
    font-size: 14px;
    font-weight: bold;

    margin-bottom: @player-avatar-space;

    letter-spacing: .1em;
    text-transform: uppercase;

    color: white;
}

.player__card {
    position: relative;

    display: inline-block;

    width: @card-width/2;
    height: @card-height/2;

    border: 2px dashed white;
}

.card--small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    transform: scale(0.52) translate(-50%, -50%);
}
