// Colors
@color-white: #FFF;
@color-purple: #610C68;
@color-orange: #E9A810;
@color-red: #EB4110;
@color-yellow: #E1EC26;
@color-cyan: #A5BEF8;
@color-blue: #5C3E9E;
@color-dark-blue: #281C27;


@color-bg: #93b7ab;
@color-accent-1: #ebab0e;
@color-accent-2: #e6421f;
@color-accent-contrast: #a3b6f2;
@color-white: #fff;
@color-dark: #3c2730;
