// COLORS
@color-white: #FFF;
@color-purple: #610C68;
@color-light-purple: #D797DC;
@color-orange: #E9A810;
@color-red: #EB4110;
@color-yellow: #ffc618;
@color-cyan: #A5BEF8;
@color-blue: #5C3E9E;
@color-dark-blue: #281C27;
@color-blueGreen: #48a98f;
@color-green: #8dd00c;
@color-dark-green: #378511;

@color-bg: #93b7ab;
@color-accent-1: #ebab0e;
@color-accent-2: #e6421f;
@color-accent-contrast: #a3b6f2;
@color-white: #fff;
@color-dark: #3c2730;


// SIZES
@s-game-gutter: 12px;

@card-width: 130px;
@card-height: 200px;


// SHADOWS
@shadow-l1 : -1px -1px 6px rgba(0, 0, 0, 0.2);
